@model EditRoomViewModel
@{
    ViewData["Title"] = "Edit Room";
}

<div class="row ml-auto">
    <div class="col-md-1 col-sm-1"></div>
    <div class=" col-md-6 col-sm-8">
        @if (TempData["success"] is not null)
        {
            <div id="message" class="alert alert-success alert-dismissible fade show text-center" role="alert" onclick="hideMessage()">
                <i class="icon fas fa-check"></i>
                @TempData["success"]
            </div>
        }

        @if (TempData["failure"] is not null)
        {
            <div id="message" class="alert alert-danger alert-dismissible fade show text-center" role="alert" onclick="hideMessage()">
                <i class="icon fas fa-sad-tear"></i>
                @TempData["failure"]
            </div>
        }

        @if (TempData["message"] is not null)
        {
            <div id="message" class="alert alert-danger alert-dismissible fade show text-center" role="alert" onclick="hideMessage()">
                <i class="icon  fas fa-times"></i>
                @TempData["message"]
            </div>
        }
        <div class="card card-primary">
            <div class="card-header mx-auto bg-cyan">
                <h3 class="card-title">Update Room</h3>
            </div>
            <form asp-controller="Room" asp-action="Edit" asp-area="" asp-route-returnUrl="Room/Edit" method="post" asp-antiforgery="true">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-group">
                        <label>Select Available Floors</label>
                        <select class="form-control select2 overflow-auto text-center" style="width: 100%;" asp-for="Location">
                            <option value="Level-3" asp-for="Location"> Level-3</option>
                            <option value="Level-4" asp-for="Location"> Level-4</option>
                            <option value="Level-5" asp-for="Location"> Level-5</option>
                        </select>
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Room Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="" autocomplete="given-name" aria-required="true" placeholder="Room name limited to A1, B1, A2, B2 avoid prefix and suffix space" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacity">Room Capacity</label>
                        <input asp-for="Capacity" type="number" class="form-control" id="" autocomplete="on" aria-required="true" placeholder="Enter Room Capacity" required>
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Details">Room Details</label>
                        <input asp-for="Details" type="text" class="form-control" id="" autocomplete="on" aria-required="true" placeholder="Write Room Facility" required>
                        <span asp-validation-for="Details" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Color">Room Color</label>
                        <input asp-for="Color" type="text" class="form-control" id="" autocomplete="on" aria-required="true" placeholder="Write Room Color in Hex code Ex: #E8F6F3" required>
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MinimumCapacity">Minimum Attendee Capacity</label>
                        <input asp-for="MinimumCapacity" type="number" class="form-control" id="" autocomplete="on" aria-required="true" placeholder="Write Meeting minimum attendee capacity" min="2" max="25">
                        <span asp-validation-for="MinimumCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaximumCapacity">Maximum Attendee Capacity</label>
                        <input asp-for="MaximumCapacity" type="number" class="form-control" id="" autocomplete="on" aria-required="true" placeholder="Write Meeting maximum attendee capacity" min="2" max="25">
                        <span asp-validation-for="MaximumCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Id" value="@Model?.Id" type="hidden">
                        <input asp-for="CreatedAtUTC" value="@Model?.CreatedAtUTC " type="hidden">
                        <input asp-for="LastUpdatedAtUTC" value="@Model?.LastUpdatedAtUTC" type="hidden">
                        <input asp-for="CreatedBy" value="@Model?.CreatedBy" type="hidden">
                        <input asp-for="PreviousRooms" value="@Model?.PreviousRooms" type="hidden">
                        <input asp-for="ConcurrencyToken" value="@Model?.ConcurrencyToken" type="hidden">
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Edit Room</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('#message').on('click', function () {
                $(this).hide();
            });
        });
    </script>
}