@* @{
    ViewData["Title"] = "Edit Room";
} *@

<div class="row ml-auto">
    <div class="col-md-1 col-sm-1"></div>
    <div class=" col-md-6 col-sm-8">
        <div class="card card-primary">
            <div class="card-header mx-auto bg-cyan">
                <h3 class="card-title">Edit Room</h3>
            </div>
            <form asp-controller="Room" asp-action="Edit" asp-area="" asp-route-returnUrl="" method="post" asp-antiforgery="true">
                <div class="card-body">
                    <div class="form-group">
                        <label>All Available Rooms</label>
                        <select class="form-control select2 overflow-auto" style="width: 100%;">
                            <option selected="selected">Room A1</option>
                            <option>Room A1</option>
                            <option>Room A2</option>
                            <option>Room A3</option>
                            <option>Room B1</option>
                            <option>Room C1</option>
                            <option>Room D1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Room Name</label>
                        <input type="text" class="form-control" id="" aria-required="true" placeholder="Enter Room Name" required>
                    </div>
                    <div class="form-group">
                        <label for="">Room Location</label>
                        <input type="text" class="form-control" id="" aria-required="true" placeholder="Write Room Location" required>
                    </div>
                    <div class="form-group">
                        <label for="">Room Capacity</label>
                        <input type="text" class="form-control" id="" aria-required="true" placeholder="Enter Room Capacity" required>
                    </div>
                    <div class="form-group">
                        <label for="">Room Facility</label>
                        <input type="text" class="form-control" id="" aria-required="true" placeholder="Write Room Facility" required>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary">Edit Room</button>
                </div>
            </form>
        </div>
    </div>
</div>