@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<link rel="stylesheet" href="~/assets/style.css" asp-append-version="true" />

<div class="container-box">
    <div class="row justify-content-md-center">

        @if (TempData["success"] != null)
        {
            <div id="message" class="alert alert-success alert-dismissible fade show text-center" role="alert" onclick="hideMessage()">
                <i class="icon fas fa-check"></i>
                @TempData["success"]

            </div>
        }

        @if (TempData["message"] != null)
        {
            <div id="message" class="alert alert-warning alert-dismissible fade show text-center" role="alert" onclick="hideMessage()">
                <i class="icon fas fa-times"></i>
                @TempData["message"]

            </div>
        }

        @if (TempData["failure"] is not null)
        {
            <div id="message" class="alert alert-danger alert-dismissible fade show text-center" role="alert" onclick="hideMessage()">
                <i class="icon fas fa-sad-tear"></i>
                @TempData["failure"]
            </div>
        }

        <div class="col-md-12 col-sm-12 col-lg-12 shadow p-3 mb-2 rounded">
            <section>
                <form id="loginForm" method="post" asp-antiforgery="true" asp-controller="Account" asp-action="ChangePassword" asp-area="" asp-route-returnurl="/Home">
                    <h5 class="text-center p-3">Change Password</h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Code" type="hidden" />

                    <div class="form-floating mb-3">
                        <label asp-for="OldPassword" class="form-label">Old Password</label>
                        <input id="oldPassword" asp-for="OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Old password contains at least 7 characters" required />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input id="resetPassword" asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="New password contains at least 7 characters" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input id="confirmResetPassword" asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm your password" required />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="submitBtn" type="submit" class="w-100 btn btn-lg btn-primary">Change</button>
                    </div>

                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        function disableFormButtons() {
            $("#submitBtn").hide();
            $("#oldPassword").prop('disabled', true);
            $("#resetPassword").prop('disabled', true);
            $("#confirmResetPassword").prop("disabled", true);
        }

        $(document).ready(function () {
            $('#message').on('click', function () {
                $(this).hide();
            });

            if (`@TempData.ContainsKey("message")` && "@TempData["message"]" !== "") {
                disableFormButtons();
            }
        });
    </script>
}