@model LoginAccountViewModel
@{
    ViewData["Title"] = "Log In";
}

<link rel="stylesheet" href="~/assets/style.css" asp-append-version="true" />

<div class="container-box">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-sm-12 col-lg-12 shadow p-3 mb-2 rounded">
            <section>
                <form id="loginForm" method="post" asp-antiforgery="true" asp-controller="Account" asp-action="Login" asp-area="" asp-route-returnurl="/Home">
                    <h5 class="text-center p-3">Log In.</h5>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <label asp-for="Password" class="form-label">Password</label>
                        <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password contains at least one (non Alphanumberic, (a-z),(A-Z)) characters" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log In</button>
                    </div>
                    <div>
                        <p>
                            <a asp-area="" asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}