﻿@using RoomBooking.Infrastructure.Membership
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <a class="nav-link text-dark m-2 box-shadow" asp-area="" asp-controller="" asp-action="" title="Profile"> @UserManager.FindByEmailAsync(User.Identity?.Name).Result.FirstName!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-outline-danger  btn-sm m-2 box-shadow">Logout</button>
            </form>
        </li>
    }
    else
    {
@*         <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-primary  btn-sm m-2 box-shadow" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li> *@
        <li class="nav-item">
            <a class="nav-link text-dark btn btn-outline-success  btn-sm m-2 box-shadow" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>